.kingdom { display: block; background-image: url(/images/kingdoms.png); }
.kingdom.hero { width: 140px; height: 148px; background-position: 0 -1264px; }
.kingdom.k00 { width: 284px; height: 310px; background-position: -936px -1226px; }
.kingdom.k01 { width: 312px; height: 314px; background-position: -316px -632px; }
.kingdom.k02 { width: 314px; height: 314px; background-position: 0 0; }
.kingdom.k03 { width: 278px; height: 314px; background-position: -1228px -316px; }
.kingdom.k04 { width: 304px; height: 314px; background-position: -630px -632px; }
.kingdom.k05 { width: 314px; height: 314px; background-position: 0 -316px; }
.kingdom.k06 { width: 312px; height: 314px; background-position: -316px -948px; }
.kingdom.k07 { width: 314px; height: 310px; background-position: -1512px 0; }
.kingdom.k08 { width: 296px; height: 314px; background-position: -632px -316px; }
.kingdom.k09 { width: 314px; height: 314px; background-position: 0 -632px; }
.kingdom.k10 { width: 314px; height: 284px; background-position: -936px -632px; }
.kingdom.k11 { width: 304px; height: 314px; background-position: -630px -948px; }
.kingdom.k12 { width: 314px; height: 314px; background-position: 0 -948px; }
.kingdom.k13 { width: 312px; height: 308px; background-position: -1252px -916px; }
.kingdom.k14 { width: 296px; height: 314px; background-position: -930px -316px; }
.kingdom.k15 { width: 314px; height: 304px; background-position: -1512px -312px; }
.kingdom.k16 { width: 314px; height: 296px; background-position: -1508px -618px; }
.kingdom.k17 { width: 314px; height: 314px; background-position: -316px 0; }
.kingdom.k18 { width: 288px; height: 314px; background-position: -932px 0; }
.kingdom.k19 { width: 288px; height: 314px; background-position: -1222px 0; }
.kingdom.k20 { width: 298px; height: 314px; background-position: -632px 0; }
.kingdom.k21 { width: 314px; height: 314px; background-position: -316px -316px; }
.kingdom.k22 { width: 308px; height: 308px; background-position: -1222px -1226px; }
.kingdom.k23 { width: 264px; height: 314px; background-position: -1566px -916px; }
.kingdom.k24 { width: 298px; height: 306px; background-position: -936px -918px; }
.kingdom.k32 { width: 144px; height: 147px; background-position: -142px -1264px; }
.kingdom.k33 { width: 148px; height: 133px; background-position: -432px -1264px; }
.kingdom.k34 { width: 142px; height: 143px; background-position: -288px -1264px; }