.mana-color { display: block; background-image: url(/images/mana-colors.png); }
.mana-color.all { width: 115px; height: 120px; background-position: 0 0; }
.mana-color.blue-brown { width: 115px; height: 120px; background-position: -117px 0; }
.mana-color.blue-green-brown { width: 118px; height: 120px; background-position: -234px 0; }
.mana-color.blue-green-purple { width: 115px; height: 120px; background-position: -354px 0; }
.mana-color.blue-green-red { width: 118px; height: 120px; background-position: -471px 0; }
.mana-color.blue-green-yellow { width: 115px; height: 120px; background-position: -591px 0; }
.mana-color.blue-green { width: 115px; height: 120px; background-position: -708px 0; }
.mana-color.blue-purple-brown { width: 118px; height: 120px; background-position: 0 -122px; }
.mana-color.blue-purple { width: 118px; height: 120px; background-position: -120px -122px; }
.mana-color.blue-red-brown { width: 118px; height: 120px; background-position: -240px -122px; }
.mana-color.blue-red-purple { width: 115px; height: 120px; background-position: -360px -122px; }
.mana-color.blue-red-yellow { width: 118px; height: 120px; background-position: -477px -122px; }
.mana-color.blue-red { width: 115px; height: 120px; background-position: -597px -122px; }
.mana-color.blue-yellow-brown { width: 115px; height: 120px; background-position: -714px -122px; }
.mana-color.blue-yellow-purple { width: 115px; height: 120px; background-position: 0 -244px; }
.mana-color.blue-yellow { width: 118px; height: 120px; background-position: -117px -244px; }
.mana-color.blue { width: 115px; height: 120px; background-position: -237px -244px; }
.mana-color.brown { width: 118px; height: 120px; background-position: -354px -244px; }
.mana-color.green-brown { width: 118px; height: 120px; background-position: -474px -244px; }
.mana-color.green-purple-brown { width: 115px; height: 120px; background-position: -594px -244px; }
.mana-color.green-purple { width: 115px; height: 120px; background-position: -711px -244px; }
.mana-color.green-red-brown { width: 118px; height: 120px; background-position: 0 -366px; }
.mana-color.green-red-purple { width: 118px; height: 120px; background-position: -120px -366px; }
.mana-color.green-red-yellow { width: 118px; height: 120px; background-position: -240px -366px; }
.mana-color.green-red { width: 115px; height: 120px; background-position: -360px -366px; }
.mana-color.green-yellow-brown { width: 115px; height: 120px; background-position: -477px -366px; }
.mana-color.green-yellow-purple { width: 118px; height: 120px; background-position: -594px -366px; }
.mana-color.green-yellow { width: 115px; height: 120px; background-position: -714px -366px; }
.mana-color.green { width: 118px; height: 120px; background-position: 0 -488px; }
.mana-color.purple-brown { width: 115px; height: 120px; background-position: -120px -488px; }
.mana-color.purple { width: 115px; height: 120px; background-position: -237px -488px; }
.mana-color.red-brown { width: 118px; height: 120px; background-position: -354px -488px; }
.mana-color.red-purple-brown { width: 118px; height: 120px; background-position: -474px -488px; }
.mana-color.red-purple { width: 115px; height: 120px; background-position: -594px -488px; }
.mana-color.red-yellow-brown { width: 118px; height: 120px; background-position: -711px -488px; }
.mana-color.red-yellow-purple { width: 115px; height: 120px; background-position: 0 -610px; }
.mana-color.red-yellow { width: 115px; height: 120px; background-position: -117px -610px; }
.mana-color.red { width: 115px; height: 120px; background-position: -234px -610px; }
.mana-color.yellow-brown { width: 115px; height: 120px; background-position: -351px -610px; }
.mana-color.yellow-purple-brown { width: 115px; height: 120px; background-position: -468px -610px; }
.mana-color.yellow-purple { width: 118px; height: 120px; background-position: -585px -610px; }
.mana-color.yellow { width: 118px; height: 120px; background-position: -705px -610px; }