.traitstone { display: block; background-image: url(/images/traitstones.png); }
.traitstone.rune00 { width: 200px; height: 193px; background-position: -756px -1435px; }
.traitstone.rune01 { width: 200px; height: 193px; background-position: -246px -1436px; }
.traitstone.rune02 { width: 200px; height: 193px; background-position: -448px -1436px; }
.traitstone.rune03 { width: 200px; height: 193px; background-position: -958px -1435px; }
.traitstone.rune04 { width: 200px; height: 194px; background-position: -1494px -1158px; }
.traitstone.rune05 { width: 200px; height: 194px; background-position: -1494px -1354px; }
.traitstone.rune06 { width: 244px; height: 276px; background-position: -264px -1158px; }
.traitstone.rune07 { width: 244px; height: 275px; background-position: -756px -1158px; }
.traitstone.rune08 { width: 244px; height: 275px; background-position: -1002px -1158px; }
.traitstone.rune09 { width: 244px; height: 275px; background-position: -1248px -1158px; }
.traitstone.rune10 { width: 244px; height: 276px; background-position: 0 -1160px; }
.traitstone.rune11 { width: 244px; height: 276px; background-position: -510px -1158px; }
.traitstone.rune12 { width: 262px; height: 286px; background-position: -264px -870px; }
.traitstone.rune13 { width: 262px; height: 286px; background-position: -528px -870px; }
.traitstone.rune14 { width: 262px; height: 286px; background-position: -792px -870px; }
.traitstone.rune15 { width: 262px; height: 286px; background-position: -1056px -870px; }
.traitstone.rune16 { width: 262px; height: 286px; background-position: -1320px -870px; }
.traitstone.rune17 { width: 262px; height: 286px; background-position: -1584px -870px; }
.traitstone.rune18 { width: 262px; height: 288px; background-position: 0 0; }
.traitstone.rune19 { width: 262px; height: 288px; background-position: -264px 0; }
.traitstone.rune20 { width: 262px; height: 288px; background-position: -528px 0; }
.traitstone.rune21 { width: 262px; height: 288px; background-position: -792px 0; }
.traitstone.rune22 { width: 262px; height: 288px; background-position: -1056px 0; }
.traitstone.rune23 { width: 262px; height: 288px; background-position: -1320px 0; }
.traitstone.rune24 { width: 262px; height: 288px; background-position: -1584px 0; }
.traitstone.rune25 { width: 262px; height: 288px; background-position: 0 -290px; }
.traitstone.rune26 { width: 262px; height: 288px; background-position: -264px -290px; }
.traitstone.rune27 { width: 262px; height: 288px; background-position: -528px -290px; }
.traitstone.rune28 { width: 262px; height: 288px; background-position: -792px -290px; }
.traitstone.rune29 { width: 262px; height: 288px; background-position: -1056px -290px; }
.traitstone.rune30 { width: 262px; height: 288px; background-position: -1320px -290px; }
.traitstone.rune31 { width: 262px; height: 288px; background-position: -1584px -290px; }
.traitstone.rune32 { width: 262px; height: 288px; background-position: 0 -580px; }
.traitstone.rune33 { width: 262px; height: 288px; background-position: -264px -580px; }
.traitstone.rune34 { width: 262px; height: 288px; background-position: -528px -580px; }
.traitstone.rune35 { width: 262px; height: 288px; background-position: -792px -580px; }
.traitstone.rune36 { width: 262px; height: 288px; background-position: -1056px -580px; }
.traitstone.rune37 { width: 262px; height: 288px; background-position: -1320px -580px; }
.traitstone.rune38 { width: 262px; height: 288px; background-position: -1584px -580px; }
.traitstone.rune39 { width: 262px; height: 288px; background-position: 0 -870px; }