.trait { display: block; background-image: url(/images/traits.png); }
.trait.aflame { width: 36px; height: 44px; background-position: -1497px -49px; }
.trait.agile { width: 43px; height: 44px; background-position: -1098px -98px; }
.trait.airbrand { width: 47px; height: 47px; background-position: -721px -153px; }
.trait.airheart { width: 47px; height: 47px; background-position: -935px 0; }
.trait.airlink { width: 42px; height: 40px; background-position: -1495px -141px; }
.trait.airspirit { width: 47px; height: 47px; background-position: -984px 0; }
.trait.alert { width: 44px; height: 44px; background-position: 0 -208px; }
.trait.arcane { width: 44px; height: 44px; background-position: -46px -208px; }
.trait.armored { width: 44px; height: 38px; background-position: -1045px -189px; }
.trait.armorpiercing { width: 39px; height: 44px; background-position: -1497px -95px; }
.trait.aspectofdeath { width: 50px; height: 50px; background-position: 0 0; }
.trait.aspectoffamine { width: 50px; height: 50px; background-position: 0 -52px; }
.trait.aspectofplague { width: 50px; height: 50px; background-position: -52px 0; }
.trait.aspectofwar { width: 50px; height: 50px; background-position: 0 -104px; }
.trait.assassinate { width: 50px; height: 50px; background-position: -52px -52px; }
.trait.avenger { width: 38px; height: 43px; background-position: -1170px -145px; }
.trait.beastbond { width: 43px; height: 43px; background-position: -1360px -98px; }
.trait.beastslayer { width: 44px; height: 44px; background-position: -92px -208px; }
.trait.big { width: 44px; height: 44px; background-position: -138px -208px; }
.trait.blessed { width: 46px; height: 41px; background-position: -1232px -96px; }
.trait.bloodsucking { width: 50px; height: 50px; background-position: -104px 0; }
.trait.bullseye { width: 50px; height: 50px; background-position: 0 -156px; }
.trait.centaurbond { width: 34px; height: 44px; background-position: -1210px -142px; }
.trait.centaurslayer { width: 47px; height: 46px; background-position: -831px -49px; }
.trait.chill { width: 50px; height: 50px; background-position: -52px -104px; }
.trait.chilltouch { width: 44px; height: 44px; background-position: -184px -208px; }
.trait.clobber { width: 47px; height: 47px; background-position: -1033px 0; }
.trait.clockwork { width: 50px; height: 50px; background-position: -104px -52px; }
.trait.cocoon { width: 50px; height: 50px; background-position: -156px 0; }
.trait.compassion { width: 50px; height: 50px; background-position: -52px -156px; }
.trait.constructbond { width: 47px; height: 47px; background-position: -1082px 0; }
.trait.constructslayer { width: 43px; height: 43px; background-position: -1079px -144px; }
.trait.cunning { width: 38px; height: 44px; background-position: -927px -193px; }
.trait.cursed { width: 47px; height: 47px; background-position: -1131px 0; }
.trait.daemonbond { width: 45px; height: 42px; background-position: -1313px -98px; }
.trait.daemonicpact { width: 47px; height: 47px; background-position: -1180px 0; }
.trait.daemonslayer { width: 43px; height: 47px; background-position: -770px -153px; }
.trait.darkchannel { width: 50px; height: 50px; background-position: -156px -52px; }
.trait.darkfall { width: 50px; height: 50px; background-position: -208px 0; }
.trait.deathtouch { width: 38px; height: 43px; background-position: -1170px -190px; }
.trait.defender { width: 44px; height: 43px; background-position: -1405px -95px; }
.trait.divineaura { width: 50px; height: 50px; background-position: -104px -104px; }
.trait.divinebond { width: 47px; height: 47px; background-position: -1229px 0; }
.trait.divineshield { width: 50px; height: 50px; background-position: -104px -156px; }
.trait.divineslayer { width: 44px; height: 44px; background-position: -230px -208px; }
.trait.doom { width: 47px; height: 47px; background-position: -1278px 0; }
.trait.dragonbond { width: 44px; height: 44px; background-position: -276px -208px; }
.trait.dragonslayer { width: 47px; height: 47px; background-position: -1327px 0; }
.trait.dragonvines { width: 50px; height: 50px; background-position: -208px -52px; }
.trait.dwarfbond { width: 44px; height: 30px; background-position: -1455px -220px; }
.trait.dwarfslayer { width: 44px; height: 44px; background-position: -322px -208px; }
.trait.elementalbond { width: 47px; height: 50px; background-position: -624px -104px; }
.trait.elementalslayer { width: 50px; height: 45px; background-position: -883px 0; }
.trait.elfbond { width: 46px; height: 50px; background-position: -673px -104px; }
.trait.elfslayer { width: 44px; height: 44px; background-position: -368px -208px; }
.trait.empowered { width: 44px; height: 38px; background-position: -1091px -189px; }
.trait.ensoul { width: 50px; height: 50px; background-position: -260px 0; }
.trait.eyeofkhetar { width: 50px; height: 50px; background-position: -156px -104px; }
.trait.fall { width: 50px; height: 50px; background-position: -156px -156px; }
.trait.fast { width: 44px; height: 43px; background-position: -1451px -95px; }
.trait.feybond { width: 47px; height: 47px; background-position: -1376px 0; }
.trait.feyslayer { width: 44px; height: 47px; background-position: -771px -104px; }
.trait.fierycloak { width: 50px; height: 50px; background-position: -260px -52px; }
.trait.firebrand { width: 46px; height: 50px; background-position: -673px -156px; }
.trait.fireheart { width: 44px; height: 44px; background-position: -414px -208px; }
.trait.firelink { width: 47px; height: 47px; background-position: -1425px 0; }
.trait.fireproof { width: 47px; height: 50px; background-position: -624px -156px; }
.trait.firespirit { width: 34px; height: 44px; background-position: -1009px -190px; }
.trait.flying { width: 46px; height: 46px; background-position: -880px -49px; }
.trait.frenzy { width: 44px; height: 44px; background-position: -460px -208px; }
.trait.frozensoul { width: 50px; height: 50px; background-position: -312px 0; }
.trait.fullplate { width: 50px; height: 50px; background-position: -208px -104px; }
.trait.gardswrath { width: 50px; height: 50px; background-position: -208px -156px; }
.trait.gateguardian { width: 50px; height: 50px; background-position: -312px -52px; }
.trait.giantbond { width: 44px; height: 44px; background-position: -506px -208px; }
.trait.giantslayer { width: 44px; height: 50px; background-position: -736px -202px; }
.trait.goblinbond { width: 47px; height: 47px; background-position: -1474px 0; }
.trait.goblinslayer { width: 44px; height: 40px; background-position: -1449px -140px; }
.trait.goblord { width: 50px; height: 50px; background-position: -364px 0; }
.trait.graniteskin { width: 50px; height: 50px; background-position: -260px -104px; }
.trait.greedy { width: 44px; height: 35px; background-position: -1455px -183px; }
.trait.grudge { width: 44px; height: 35px; background-position: -1501px -183px; }
.trait.hacknslash { width: 50px; height: 50px; background-position: -260px -156px; }
.trait.huge { width: 40px; height: 47px; background-position: -815px -153px; }
.trait.humanbond { width: 44px; height: 44px; background-position: -552px -208px; }
.trait.humanslayer { width: 41px; height: 46px; background-position: -1143px -97px; }
.trait.hunger { width: 50px; height: 50px; background-position: -364px -52px; }
.trait.icycloak { width: 50px; height: 50px; background-position: -416px 0; }
.trait.immense { width: 50px; height: 50px; background-position: -312px -104px; }
.trait.immortal { width: 50px; height: 50px; background-position: -312px -156px; }
.trait.immune { width: 31px; height: 44px; background-position: -1280px -96px; }
.trait.impervious { width: 44px; height: 44px; background-position: -598px -208px; }
.trait.indigestible { width: 46px; height: 47px; background-position: -830px -202px; }
.trait.inscribed { width: 47px; height: 47px; background-position: -817px -102px; }
.trait.insulated { width: 44px; height: 37px; background-position: -1409px -186px; }
.trait.jinx { width: 47px; height: 47px; background-position: -857px -151px; }
.trait.kingswill { width: 50px; height: 50px; background-position: -416px -52px; }
.trait.knightbond { width: 35px; height: 45px; background-position: -906px -146px; }
.trait.knightslayer { width: 35px; height: 44px; background-position: -1210px -188px; }
.trait.knockout { width: 49px; height: 49px; background-position: -780px 0; }
.trait.leader { width: 43px; height: 44px; background-position: -943px -144px; }
.trait.lethaltoxin { width: 50px; height: 50px; background-position: -468px 0; }
.trait.lifedrain { width: 45px; height: 45px; background-position: -1220px -49px; }
.trait.lionstrength { width: 50px; height: 50px; background-position: -364px -104px; }
.trait.magicbrand { width: 43px; height: 44px; background-position: -988px -144px; }
.trait.magicheart { width: 44px; height: 43px; background-position: -1033px -144px; }
.trait.magiclink { width: 47px; height: 47px; background-position: -878px -200px; }
.trait.magicspirit { width: 44px; height: 44px; background-position: -644px -208px; }
.trait.manashield { width: 46px; height: 45px; background-position: -1172px -49px; }
.trait.manyheads { width: 50px; height: 50px; background-position: -364px -156px; }
.trait.marauderbond { width: 47px; height: 47px; background-position: -1474px 0; }
.trait.marauderslayer { width: 44px; height: 40px; background-position: -1449px -140px; }
.trait.mechbond { width: 47px; height: 47px; background-position: -1082px 0; }
.trait.mechslayer { width: 43px; height: 43px; background-position: -1079px -144px; }
.trait.merchant { width: 33px; height: 44px; background-position: -1325px -142px; }
.trait.merfolkbond { width: 47px; height: 50px; background-position: -624px -104px; }
.trait.merfolkslayer { width: 50px; height: 45px; background-position: -883px 0; }
.trait.miasma { width: 50px; height: 50px; background-position: -468px -52px; }
.trait.molten { width: 50px; height: 50px; background-position: -520px 0; }
.trait.monsterbond { width: 44px; height: 44px; background-position: -690px -208px; }
.trait.monsterslayer { width: 44px; height: 42px; background-position: -1124px -145px; }
.trait.mysticbond { width: 47px; height: 50px; background-position: -624px -104px; }
.trait.mysticslayer { width: 50px; height: 45px; background-position: -883px 0; }
.trait.nagabond { width: 44px; height: 44px; background-position: -690px -208px; }
.trait.nagaslayer { width: 44px; height: 42px; background-position: -1124px -145px; }
.trait.nastyteeth { width: 50px; height: 50px; background-position: -416px -104px; }
.trait.naturebrand { width: 44px; height: 44px; background-position: -1405px -49px; }
.trait.natureheart { width: 44px; height: 45px; background-position: -1267px -49px; }
.trait.naturelink { width: 46px; height: 47px; background-position: -866px -97px; }
.trait.naturespirit { width: 44px; height: 44px; background-position: -1451px -49px; }
.trait.necromancy { width: 44px; height: 44px; background-position: -914px -98px; }
.trait.orcbond { width: 47px; height: 47px; background-position: -1474px 0; }
.trait.orclord { width: 50px; height: 50px; background-position: -520px -52px; }
.trait.orcslayer { width: 44px; height: 40px; background-position: -1449px -140px; }
.trait.plaguetouch { width: 44px; height: 44px; background-position: -960px -98px; }
.trait.pyromania { width: 44px; height: 47px; background-position: -1313px -49px; }
.trait.queensgrace { width: 50px; height: 50px; background-position: -572px 0; }
.trait.rakshabond { width: 34px; height: 44px; background-position: -1210px -142px; }
.trait.rakshaslayer { width: 47px; height: 46px; background-position: -831px -49px; }
.trait.regeneration { width: 43px; height: 43px; background-position: -1360px -143px; }
.trait.reinforced { width: 44px; height: 47px; background-position: -1359px -49px; }
.trait.roguebond { width: 47px; height: 47px; background-position: -1376px 0; }
.trait.rogueslayer { width: 44px; height: 47px; background-position: -771px -104px; }
.trait.sacrifice { width: 50px; height: 50px; background-position: -416px -156px; }
.trait.seedling { width: 50px; height: 50px; background-position: -468px -104px; }
.trait.shatter { width: 47px; height: 47px; background-position: -928px -49px; }
.trait.siege { width: 44px; height: 27px; background-position: -1409px -225px; }
.trait.silence { width: 50px; height: 50px; background-position: -572px -52px; }
.trait.siphon { width: 50px; height: 50px; background-position: -624px 0; }
.trait.slippery { width: 46px; height: 46px; background-position: -1124px -49px; }
.trait.snare { width: 46px; height: 48px; background-position: -782px -202px; }
.trait.soullegion { width: 50px; height: 50px; background-position: -468px -156px; }
.trait.spikearmor { width: 50px; height: 50px; background-position: -624px -52px; }
.trait.spiritfire { width: 50px; height: 50px; background-position: -676px 0; }
.trait.stalker { width: 48px; height: 49px; background-position: -780px -51px; }
.trait.stealthy { width: 44px; height: 44px; background-position: -1006px -98px; }
.trait.stonebrand { width: 33px; height: 44px; background-position: -1288px -185px; }
.trait.stoneheart { width: 47px; height: 47px; background-position: -977px -49px; }
.trait.stonelink { width: 39px; height: 43px; background-position: -1247px -185px; }
.trait.stoneskin { width: 40px; height: 44px; background-position: -967px -190px; }
.trait.stonespirit { width: 42px; height: 44px; background-position: -1405px -140px; }
.trait.stryxbond { width: 47px; height: 47px; background-position: -1229px 0; }
.trait.stryxslayer { width: 44px; height: 44px; background-position: -230px -208px; }
.trait.sturdy { width: 44px; height: 44px; background-position: -1052px -98px; }
.trait.sunshine { width: 50px; height: 50px; background-position: -520px -104px; }
.trait.suppression { width: 50px; height: 50px; background-position: -520px -156px; }
.trait.taurosbond { width: 47px; height: 47px; background-position: -1474px 0; }
.trait.taurosslayer { width: 44px; height: 40px; background-position: -1449px -140px; }
.trait.technomancy { width: 50px; height: 50px; background-position: -676px -52px; }
.trait.thickhead { width: 48px; height: 47px; background-position: -721px -104px; }
.trait.thorns { width: 50px; height: 50px; background-position: -728px 0; }
.trait.trueshot { width: 50px; height: 50px; background-position: -572px -104px; }
.trait.undeadbond { width: 31px; height: 44px; background-position: -1246px -139px; }
.trait.undeadslayer { width: 38px; height: 44px; background-position: -1369px -188px; }
.trait.venomous { width: 31px; height: 42px; background-position: -1137px -189px; }
.trait.virulence { width: 50px; height: 47px; background-position: -831px 0; }
.trait.ward { width: 50px; height: 50px; background-position: -572px -156px; }
.trait.warded { width: 44px; height: 38px; background-position: -1323px -188px; }
.trait.wargarebond { width: 34px; height: 44px; background-position: -1210px -142px; }
.trait.wargareslayer { width: 47px; height: 46px; background-position: -831px -49px; }
.trait.waterbrand { width: 44px; height: 41px; background-position: -1279px -142px; }
.trait.waterheart { width: 47px; height: 47px; background-position: -1026px -49px; }
.trait.waterlink { width: 47px; height: 47px; background-position: -1075px -49px; }
.trait.waterspirit { width: 44px; height: 44px; background-position: -1186px -96px; }
.trait.wildfolkbond { width: 34px; height: 44px; background-position: -1210px -142px; }
.trait.wildfolkslayer { width: 47px; height: 46px; background-position: -831px -49px; }
.trait.winterveil { width: 50px; height: 50px; background-position: -728px -52px; }