<link rel="import" href="/bower_components/polymer/polymer.html"/>
<link rel="import" href="/bower_components/file-upload/file-upload.html"/>
<dom-module id="gems-admin">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <h1>Admin</h1>
    <file-upload target="/admin/upload" file-data-name="files" droppable="true" raised="true" drop-text="Drop files here">Choose file</file-upload>
  </template>
  <script>
    Polymer({
      is: 'gems-admin'
    });
  </script>
</dom-module>