<header>
	<nav>
		<a routerLinkActive="active" routerLink="/">Home</a>
		<a routerLinkActive="active" routerLink="/kingdoms">Kingdoms</a>
		<a routerLinkActive="active" routerLink="/troops">Troops</a>
		<a routerLinkActive="active" routerLink="/weapons">Weapons</a>
		<a routerLinkActive="active" routerLink="/classes">Classes</a>
		<a routerLinkActive="active" routerLink="/quests">Quests</a>
		<a routerLinkActive="active" routerLink="/admin">Admin</a>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer>Website by Josh Olson. All content &copy; Infinity Plus Two.</footer>